.bg-descricao {background-color: rgba(0, 0, 0, 0.5);}

.bg-darker {background-color: #444;}

.bg-main {background-color: #111;}

.bg-main-lighter {background-color: rgba(17, 17, 17, 0.75);}

header, nav {
  margin: 0 auto;
}

.carousel-item {
  height: 75vh;
}

.coming-soon {
  overflow: hidden;
  background: repeating-linear-gradient( 45deg, #222, #222 2px, #111 2px, #111 4px);
}

.coming-soon-h2 {
  padding: 10px;
  font-size: 22px;
}

.coming-soon-p {
  font-size: 16px;
}

.coming-soon-p a {
  font-size: 14px;
}

.coming-soon-img {
  background-image: url("../img/redbad.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  min-width: 70vh;
}

.descricao {
  font-size: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
}

.coming-soon, .descricao, .album, .carousel-inner, .cartao, .cartao img, #sidebar {
  border-radius: 5px;
}

@media (min-width: 576px) {
  .descricao {
    bottom: 3vh;
    right: 3vw;
  }
  .coming-soon-h2 {
    padding: 25px;
  }
}

.cartao {
  max-height: 400px;
  max-width: 300px;
}

.cartao img {
  height: 100%;
  width: 100%;
}

footer {
  margin-top: 25vh;
}

/* PRODUTOS */

.lista-filtro li {
  font-size: 0.9em;
  margin-left: 15px;
}

.album {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
