#sidebar {
  position: absolute;
  width: 250px;
  /* min-height: 100%; */
  top: 0;
  left: -250px;
  /* top layer */
  z-index: 5;
}

.oi-magnifying-glass, .oi-x {
  position: absolute;
  font-size: 1.5em;
  left: 10px;
  top: 10px;
  z-index: 5;
}

.ativa {
  font-weight: bolder;
  font-style: italic;
}