.bg-descricao {background-color: rgba(0, 0, 0, 0.5);}

.bg-darker {background-color: #444;}

.bg-main {background-color: #111;}

.bg-main-lighter {background-color: rgba(17, 17, 17, 0.75);}

body {
  /* height: 110em; */
}

body, html {
  background: repeating-linear-gradient( 45deg, #333, #444 4px, #333 4px, #444 8px);
}

.area-jogo {
  padding-top: 50px;
}

.nome {
  font-size: 2em;
}

.genero p, .plataforma p, .genero h4, .plataforma h4 {
  display: inline-block;
}
h4{
  font-size: 1.5em;
  line-height: 120%;
}
.descricao,.genero p, .plataforma p {
  font-size: 1em;
  line-height: 120%;
}

/* adição da ".galeria", ".footer" e media query */

.corpo{
  border-radius: 10px;
}

img{
  border-radius: 10px;
}

.galeria {
  padding-top: 50px;
  padding-bottom: 30px;
  max-width: 300px;
}

.fotorama__wrap {
  margin: 0 auto;
}

@media (min-width: 576px) {
  body {
    height: 90em;
  }
  .galeria {
    max-width: 550px;
  }
  .descricao, .genero p, .plataforma p {
    font-size: 1.2em;
  }
  .nome {
    font-size: 2.5em;
  }
}

@media (min-width: 768px) {
  .galeria {
    max-width: 750px;
  }

}

@media (min-width: 992px) {
  .galeria {
    max-width: none;
  }
}

/*  EXCLUSIVO PRO RED BAD RECOVERY  */

.quotes div{
  border-radius: 5px;

}
